body{
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   margin: 0;
   height: 100vh;
   background-color: white;
   color:rgb(34, 33, 33);
}

.container{
   max-width: 73%;
   margin: 70px auto 0 auto;
}

header{
   display: block;
   width: 100%;
}

.logo{
   width: 18%;   
   min-width: 227px;
   padding: 1% 2%;
}

#logo_amazon{
   margin: 18px 0 0 0;
}

#logo_ebay{
   min-width: 149px;
   margin: 13px 0;
}

#logo_shopify{
   margin: 24px 0;
}

#logo_etsy{
   min-width: 148px;
   width: 15%;
   margin: 0 0 10px 0;
}

main{
   padding: 41px 0;
}

h1{
   margin: 0;
   padding: 65px 50px;
   font-size:110px;
   line-height: 79px;
   letter-spacing: 4px;
   font-weight: 700;
   font-family: Helvetica;
   text-align: center;
}

footer{
   text-align: center;
   position: absolute;
   width: 100%;
   font-weight: 600;
   letter-spacing: 0.8px;
   font-family: Arial, Helvetica, sans-serif;
   color:rgb(46, 45, 45);
   margin-top: 76px;
}
